  <table class='table table-hover' id="ajax_people">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Telephone</th>
        <th>Group</th>
        <th>Sensei</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @people.each do |person| %>
      <tr>
      <% if person.group_id == 0 %>
        <td><%= person.name %></td>
        <td><%= person.email %></td>
        <td><%= person.telephone %></td>
        <td><%= best_in_place person, :group_id , :as => :select, :collection => {"1" => "1", "2" => "2", "3" => "3"}%></td>
        <td><%= best_in_place person, :sensei, :as => :select, :collection => {"1" => "Sensei", "2" => "Normal"} %>
</td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>